<ion-view view-title="About Us">
<ion-content class="padding home">
<ion-slide-box>

   <ion-slide>
      <div class = "box box1" align="center">
      <br>
          <h2><b>POWERED BY: </b></h2>
          <br>
          <img src = "img/ard.png" width="250px">
          <br><br>
          <img src = "img/dfrobot.png" width="250px">
      </div>
   </ion-slide>

   <ion-slide>
      <div class = "box box2" align="center">
         <h2>About the Developers</h2>
         <br><br>
             <div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader" id="kler">

                </div>
                <div class="avatar">
                    <img alt="" src="img/kler1.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <h4>Claire Florence Nacino</h4>
                    </div>
                    <div class="desc">BSCS Student</div>
                    <div class="desc">Developer</div>
                    <div class="desc">Analyst</div>
                    <div class="desc">Researcher</div>
                </div>
                 <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/jLcolomx">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://www.facebook.com/johnlouis.coloma?fref=ts">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
            </div>

        </div>
      </div>
   </ion-slide>

      <ion-slide>
      <div class = "box box3" align="center">
         <h2>About the Developers</h2>
         <br><br>
             <div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader" id="ron">

                </div>
                <div class="avatar">
                    <img alt="" src="img/ron.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <h4>Ron Angelo Batac</h4>
                    </div>
                    <div class="desc">BSCS Student</div>
                    <div class="desc">Developer</div>
                    <div class="desc">Analyst</div>
                    <div class="desc">Weaboo</div>
                </div>
                 <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/jLcolomx">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://www.facebook.com/johnlouis.coloma?fref=ts">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
            </div>

        </div>
      </div>
   </ion-slide>

</ion-slide-box>
</ion-content>
</ion-view>