<ion-view view-title="Gardener Tips">
<ion-content class="padding home">
<label class="title">Share your Tips here<br><br><textarea rows="4" cols="53" class="form-control" id="post"></textarea></label><br><br>
<input type="submit" id="btnpost" class="button button-balanced btnpost" value="submit">
<br><br><br>
<div class="carded">
<div class="item item-divider titlelog">
	Tips by: NAME
</div>
   <div class="item item-text-wrap">
 	Use Fertilizers for better result.
   </div>
</div>
<div class="carded">
<div class="item item-divider titlelog">
	Tips by: NAME
</div>
   <div class="item item-text-wrap">
 	Use Fertilizers for better result.
   </div>
</div>
<div class="carded">
<div class="item item-divider titlelog">
	Tips by: NAME
</div>
   <div class="item item-text-wrap">
 	Use Fertilizers for better result.
   </div>
</div>


</ion-content>
</ion-view>