<ion-view view-title="Create an Account">
<ion-content class="padding signs">
<a ng-click="back()"><i class="icon ion-android-arrow-back back"></i></a>
<br><br><br><br>
<form ng-submit="signupform()">
	<label class="input-label input">Email Address: &nbsp;&nbsp;&nbsp;<input type="email" id="email" class="txtbox form-control"></label><br>
	<label class="input-label input">Username: &nbsp;&nbsp;&nbsp;<input type="text" id="username" class="txtbox form-control"></label><br>
	<label class="input-label input">Password: &nbsp;&nbsp;&nbsp;&nbsp;<input type="password" id="password" class="txtbox form-control"><br></label><br>
	<div align="center"><input type="submit" class="button button-balanced but" value="Register"></div>
	</div>
</form>
</ion-content>
</ion-view>