<ion-view view-title="Why Plants?">
<ion-content class="padding home" delegate-handle="myPageDelegate">
<h4>Topics</h4>
•<a class="links" ng-click="scrollTo('needsofplant')">
   Needs of Plant?
</a><br>
•<a class="links" ng-click="scrollTo('needtoplant')">
  	Need to Plant?
</a>
<br><br>
<div id="needsofplant"><h3 class="title"><i class = "icon icon ion-leaf"> Needs of Plant?</i></h3></div>
<h4><i class = "icon ion-android-restaurant"> Food:</h4> 
Everything we eat comes directly or indirectly from plants. Throughout human history, approximately 7,000 different plant species have been used as food by people.</i><br>
<h4><i class = "icon icon ion-waterdrop"> Water:</h4> Plants regulate the water cycle: they help distribute and purify the planets water. They also help move water from the soil to the atmosphere through a process called transpiration.</i><br>
<h4><i class = "icon icon ion-ios-medkit"> Medicine:</h4> One-quarter of all prescription drugs come directly from or are derivatives of plants. Additionally, four out of five people around the world today rely on plants for primary health care.</i><br>
<h4><i class = "icon icon ion-ios-cloud"> Air:</h4> Oxygen is brought to you by plants, as a byproduct of photosynthesis.</i><br>
<h4><i class = "icon icon ion-earth"> Habitat:</h4> Of course, aside from humans myriad uses, plants make up the backbone of all habitats. Other species of fish and wildlife also depend on plants for food and shelter.</i><br>
<h4><i class = "icon icon ion-ios-partlysunny"> Climate:</h4> Plants store carbon, and have helped keep much of the carbon dioxide produced from the burning of fossil fuels out of the atmosphere.</i>
<br><br>
<div id="needtoplant"><h3 class="title"><i class = "icon icon ion-leaf"> Need to plant?</i></h3></div>
<h4><i class = "icon ion-leaf"> Water & Nutrients</i></h4> Like humans and animals, plants need both water and nutrients (food) to survive. Most all plants use water to carry moisture and nutrients back and forth between the roots and leaves. Water, as well as nutrients, is normally taken up through the roots from the soil. This is why it’s important to water plants when the soil becomes dry.
<br><br>Fertilizer also provides plants with nutrients and is usually given to plants when watering. The most important nutrients for plants growing needs are nitrogen (N), phosphorus (P), and potassium (K). Nitrogen is necessary for making green leaves, phosphorus is needed for making big flowers and strong roots, and potassium helps the plants fight off disease.
<br><br>Too little or too much water or nutrients can also be harmful.<br>
<h4><i class = "icon icon ion-leaf"> Air and Soil:</i></h4>What helps plants grow besides water and nutrients? Fresh, clean air and healthy soil. Dirty air caused by smoke, gases, and other pollutants can be harmful to plants, limiting their ability to take in carbon dioxide from the air for making food (photosynthesis). It can also block out sunlight, which is also necessary for healthy plant growth.
<br><br>Healthy soil is extremely vital to plants. In addition to essential nutrients found in soil (from organic matter and micro-organisms), soil provides an anchor for plant roots and helps support the plants.<br>
<h4><i class = "icon ion-leaf"> Light and Temperature:</i></h4>Plants also need sunlight to grow. Light is used as energy for making food, a process called photosynthesis. Too little light can make plants weak and leggy looking. They will also have fewer flowers and fruits.
<br><br>Temperature is important too. Most plants prefer cooler nighttime temps and warmer daytime temperatures. Too hot and they may burn, too cold and they will freeze.<br>
<h4 id="spaceandtime"><i class = "icon ion-leaf"> Space and Time:</i></h4> Space is yet another factor to consider when growing plants. Both the roots and foliage (leaves) need room to grow. Without enough room, plants can become stunted or too small. Overcrowded plants are also more likely to suffer from diseases since airflow may be limited.
<br><br>Finally, plants require time. They do not grow overnight. It takes time and patience to grow plants, some more so than others. Most plants require a particular number of days, months, or even years to produce flowers and fruit.
<br><br><div align="center"><img src ="img/about.gif" width="350px"></div>
</ion-content>
</ion-view>